body{
    margin: 0;
    padding: 0;
    
}

/* nav section */
nav{
    background: rgb(236, 224, 48);
    height: 80px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    padding-top: 5px;
}

.top h2{
    font-weight: bolder;
}

.list{
 list-style: none;
 display: flex;
 align-items: center;
} 

 .list li:not(.book){
 margin-left: 10px;
}

.list a{
 text-decoration: none;
 color: black;
}

.list a:hover{
    border-bottom: 2px solid white;
}

.book a:hover{
 background-color: rgb(221, 17, 17);
 border-bottom: none;
}

.book a{
    margin-left: 100px;
    padding: 5px;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid transparent;
    color: rgb(248, 243, 235);
    background-color: rgb(2, 58, 2);

}

/* top section */
.heady{
    background-color: rgb(2, 58, 2);
    min-height: 380px;
}

.head{
    min-height: 360px;
    margin-inline: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head1{
   width: 50%;
   color: aliceblue;
}

.head1 a:nth-of-type(1){
    border: 1px solid transparent;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    margin-right: 9px;
}
.head1 a:nth-of-type(2){
    border: 1px solid white;
    color: white;
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 9px;

}

.tap{
    margin-top: -15px;
}

.head1 > h2{
    line-height: 32px;
    margin-top: -15px;
    font-size: 35px;
}

.head1 > h6{
    font-size: 15px;
}

img{
    width: 21em;
}

/* bottom */
footer{
    background: rgb(179, 243, 179);
    height: 180px;
    display: flex;
    
}

.foot{
    width: 80%; 
    margin: 0 auto;
    text-align: center;
}

.foot > p{
    font-size: 35px;
    margin-top: 16px;
}

.foot > h6{
    font-size: 15px;
    margin-top: -25px;
}

.button{
    display: flex;
    justify-content: space-between;
}

.name{
    border: 1px solid transparent;
    color: #333;
    background-color: aliceblue;
    padding: 5px 130px 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 9px;
}
.mail{
    border: 1px solid transparent;
    color: #333;
    background-color: aliceblue;
    padding: 5px 130px 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 9px;
}
.select{
    border: 1px solid transparent;
    color: #333;
    background-color: aliceblue;
    padding: 5px 90px 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 9px;
}
.get{
    border: 1px solid transparent;
    color: #fff;
    background-color: rgb(2, 58, 2);
    padding: 5px 90px 5px 15px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 9px;
}

.fa-solid{
    width: 0.333px;
    padding-right: 21px;
}

.fa-magnifying-glass{
    margin-left: 35px;
}

